.color-1 {
	color: OrangeRed;
}
/*RedGreenBlue* 00 - FF*/
.color-2 {
	/*color: #87CEEB;*/
	color: #000000;
}

.color-3 {
	color: #aaa;
}
/* 0-255*/
.color-4 {
	color: rgb(200, 100, 125)
	/* opacity: 0,2;*/
}

.color-5 {
	color: rgba(150, 0, 0, 0.2);
}